In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px

In [ ]:
store_data_df = pd.read_csv('../data/raw/dmml1_stores.csv')
test_data_df = pd.read_csv('../data/raw/dmml1_test.csv')
train_data_df = pd.read_csv('../data/raw/dmml1_train.csv')

# Empfehlung für den Umgang mit großen Werten

# 1.1 Wie viele Datenpunkte gibt es pro Store?

In [ ]:
store_counts = train_data_df.groupby('Store ID').size().reset_index()
store_counts.columns = ['Store ID', 'Data Points']
store_counts

     Store ID  Data Points
0           1          850
1           2          850
2           3          850
3           4          850
4           5          850
..        ...          ...
295       296          850
296       297          850
297       298          850
298       299          666
299       300          850

[300 rows x 2 columns]

In [ ]:
unique_values = store_counts['Data Points'].value_counts().sort_index()

In [ ]:
for i, v in unique_values.items():
    print(f"Anzahl Datenpunkte: {i} + Stores: {v}")

print(f"Die Anzahl der eindeutigen Werte ist: {len(unique_values)}")

Anzahl Datenpunkte: 666 - Stores: 44
Anzahl Datenpunkte: 849 - Stores: 1
Anzahl Datenpunkte: 850 - Stores: 255
Die Anzahl der eindeutigen Werte ist: 3

# 1.2 Visualisieren Sie die Verteilung der Verkaufszahlen für einige zufällig ausgewählte Stores und be- schreiben Sie typische Muster, die Sie erkennen.

In [ ]:
# Wählen Sie zufällig 5 Stores aus
random_stores = np.random.choice(dftrain['Store ID'].unique(), 5)

# Erstellen Sie ein Plot für jeden Store
for store in random_stores:
    store_data = train_data_df[train_data_df['Store ID'] == store]
    fig = px.line(store_data, x='Date', y='Sales', title=f'Sales for Store {store}')
    fig.show()